div.main_nav {  
    width:190px;
    float: left;
    margin-left: 10px;
    height: 100%
}    
div.sub_menu {    
    margin-right: auto;
    margin-top: 25px;
    font-size: 12px;
    width: auto;
}